.hero-slider.carousel .carousel-control {
   width: 40px;
   height: 40px;
   box-sizing: border-box;
   border: 3px solid #fff;
   background-color: transparent;
   background-image: none;
   -webkit-transition: color .2s ease-in-out;
   transition: color .2s ease-in-out;
   top: 40px;
   opacity: 1;
   z-index: 1;
}

.hero-slider.carousel .carousel-control:before {
   content: '';
   background-color: #fff;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 100%;
   z-index: -1;
   -webkit-transition: top .2s ease-in-out;
   transition: top .2s ease-in-out
}

.hero-slider.carousel .carousel-control:hover {
   color: #262626;
}

.hero-slider.carousel .carousel-control:hover:before {
   top: 0;
}

.hero-slider.carousel .carousel-control.left {
   left: auto;
   right: 78.5px;
}

.hero-slider.carousel .carousel-control.right {
   right: 41.5px;
}

.hero-slider.carousel .carousel-control .glyphicon {
   top: 50%;
   left: 50%;
   margin-top: -15px;
   margin-left: -15px;
}

@media all and (max-width: 768px) {
   .hero-slider.carousel .carousel-control {
      top: 20px;
   }

   .hero-slider.carousel .carousel-control.left {
      right: 58.5px;
   }

   .hero-slider.carousel .carousel-control.right {
      right: 21.5px;
   }

   .hero-slider.carousel .carousel-control .glyphicon {
      margin-top: -10px;
      margin-left: -10px;
   }
}